*{
   margin: 0;
   padding: 0;
   font-family: "DM Sans", sans-serif;

}
body{
    background-color:#f5f5f5;
}
.logo img{
    width: 40%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
}

li a{
    text-decoration: none;
    color: white;
}

a.regastrion{
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 70px;
}



.container {
    background-image: url(img/bg2.png), url(img/bg.png); 
    background-size: cover, cover;
    background-position: top, center; 
    background-repeat: no-repeat, no-repeat; 
    min-height: 80vh;
}

/* hero-section-start-here */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    gap: 50px;
    width: 100%;
    position: relative; 
}
.hero-container {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 50px;
    max-width: 1200px; 

}

.content-hero{
    display: flex;
    flex-direction: column;
    gap:20px;
    color: white;
    margin-bottom: 30px;


}

 
.content-hero p{
    margin-top: 30px;
    margin-bottom: 30px;

} 

.btn .btn-events{
    padding: 15px 50px;
    background-color: #F5167E;
    border: 0;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin-right: 25px;
    cursor: pointer;
}

.btn .btn-events:hover{
    background-color: #a80e56;
}

.btn .btn-blog{
    padding: 15px 50px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn .btn-blog:hover{
    background-color: white;
    color: #F5167E;
}

/* filter section start here */
.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.filter-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242565;
    color: white;
    padding: 40px;
    border-radius: 15px;
    width: 70%;
    position: absolute;
}

.filter-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.filter-inputs label{
    font-weight: 800;
}
.filter-inputs input{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px white solid;
    padding: 10px;
}
.filter-inputs input:focus{
    outline: none;
}
/* filter section end here */


main{
    margin-top: 100px;
}

/* the event start here */


.event-filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.event-filter .filter-title{
    color:#242565;
    font-size:larger;
    font-weight: 900;
    
}


.event-filter .filter-selection select{
    margin: 5px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 0;
    color: #242565;
}

/* cards */
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.events-card{
   display: grid;
   grid-template-columns: repeat(3,1fr); 
   gap: 20px;
   width: 80%;
   margin-top: 20px;
}

.event-card{
    background-color: white;
    border-radius: 15px;
}
.event-card img {
  width: 100%;
  display: block;
}


.card-content{
   display: flex;
   align-items: flex-start;
   gap: 20px;
   padding: 10px;
}
.date {
    font-weight: bold;
}

.date p:first-child{
    color: #242565;
}
.event-description h3{
    margin-bottom: 10px;
}


.events-card-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  width: 80%;
  margin-top: 30px;
}

.event-card-2{
    background-color: white;
    border-radius: 15px;
}

.events-card-2 .event-card-2:first-child{
    grid-column: span 2;
}

.event-card-2 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.event-card-2 .card-content{
    display: flex;
    align-items: start;
}

.event-card-2 .event-description p{
    color: gray;
}

.card-container button{
    padding: 15px 30px;
    margin-top: 20px;
    border: 1px solid #242565;
    border-radius: 25px;
    color: #242565;
    background-color: transparent;
    font-weight: 800;
}




/* event page start section here */



/* the event start here */


.events-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.events-card{
   display: grid;
   grid-template-columns: repeat(3,1fr); 
   gap: 20px;
   width: 80%;
   margin-top: 20px;
}

.event-card{
    background-color: white;
    border-radius: 15px;
}
.event-card img {
  width: 100%;
  display: block;
}


.card-content{
   display: flex;
   align-items: flex-start;
   gap: 20px;
   padding: 10px;
}
.date {
    font-weight: bold;
}

.date p:first-child{
    color: #242565;
}
.event-description h3{
    margin-bottom: 10px;
}


.events-card-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  width: 80%;
  margin-top: 30px;
}

.event-card-2{
    background-color: white;
    border-radius: 15px;
}

.events-card-2 .event-card-2:first-child{
    grid-column: span 2;
}

.event-card-2 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.event-card-2 .card-content{
    display: flex;
    align-items: start;
}

.event-card-2 .event-description p{
    color: gray;
}

.events-card-container button{
    padding: 15px 30px;
    margin-top: 20px;
    border: 1px solid #242565;
    border-radius: 25px;
    color: #242565;
    background-color: transparent;
    font-weight: 800;
}

.event-card-img{
    width: 370px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}
/* the event end here */
/* event page end section here */
/* the event end here */


/* make you own event start here*/
.own-event{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #EEE1FF;
    padding: 20px;
    margin-top: 10px;
}
.own-event-content{
    max-width: 40%;
}
.own-event h3{
    font-size: 40px;
}
.own-event p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.own-event button{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 25px;
    background-color: #F5167E;
    border: 0;
    color: white;
    font-weight: 800;
}
.john{
    margin-top: 30px;
}
.john h3{
    color: #242565;
    font-size: 35px;
    margin-bottom: 10px;
}
.john{
    text-align: center;
}
/* make you own event end here*/


/* brand section start here */
.brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.brand-1 img, .brand-2 img{
    width: 150px;
}

.brand-1, .brand-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

/* brand section end here */

/* blog section start here */
.blog{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.blog .blog-title{
    text-align: center;
}
.blog .blog-title h3{
    color: #242565;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
    gap: 20px;

}

.blog-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 30px;
    gap: 30px; 
    justify-items: center;
}

.blog-card{
    width: 70%;
    justify-content: center;
}
.blog-card h3{
    font-weight: bold;
    margin-bottom: 10px;
    color: #242565;
    margin-top: 10px;
}

.blog-card p{
    font-weight: 500;
    margin-bottom: 10px;

}
.blog-card span{
color: #A5A5A5;

}
.blog-cart img{
    width: 60%;
    object-fit: cover;
}


.blog button{
    padding: 15px 30px;
    margin-top: 30px;
    border: 1px solid #242565;
    border-radius: 25px;
    color: #242565;
    background-color: transparent;
    font-weight: 800;
    margin-bottom: 10px;
}

/* blog section end here */



/* footer start here */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0A075F;
    padding: 40px;
    color: white;
    margin-top: 30px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}

.footer-section-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    width: 30%;
}

.footer-section-1 .footer-logo img{
    width: 150px;
}
.footer-section-1 .icons img{
    margin-right: 20px;
}

.footer-section-2 ,.footer-section-3 ,.footer-section-4{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;

}
.footer-section-2 p,.footer-section-3 p {
    margin-bottom: 7px ;
}

.footer-section-4{
    width: 300px;
}

.input-container {
  position: relative; 
  width: 300px;
}

.input-container input {
  width: 100%; 
  height: 60px;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 20px 140px 20px 20px; 
  border: 1px solid #ccc; 
}

.input-container .btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  padding: 10px 15px;
  background-color: #F5167E;
  border: 0;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  height: 50px; 
}
.cpyright{
    margin-top: 40px;
    text-align: center;
}
.cpyright hr{
    color: #4C4D8B;
}
.cpyright p {
    margin-top: 15px;
}


/* footer end here */


/* THE EVENT PAGE START HERE */
.dark-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-top: 40px;
}
.drake-card{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    gap: 20px;
    padding: 30px;

}
.drake-drake-img-img{
    width: 400px;
    height: 450px ;
}
.drake-img{
    background-image: url(img/drakecard.jpeg);
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 350px;
    border-radius: 30px;
    flex-shrink: 0;
}
.drake-card h1{
    margin-top: 10px;
    font-size: 1.8rem;
}
.drake-card p{
    margin-top: 20px;
    line-height: 1,6;
}

.drake-card .price{
    display: block;
    margin-top: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    color: gray;

}
.buy-btn {
    background-color: #242565;
    display: block;
    margin: 25px auto 0 ;
    color: white;
    font-weight: 700;
    font-size: 15px;
    height: 50px;
    width: 200px;
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    cursor: pointer;
    text-align: center;
    justify-self: center;
}
.buy-btn:hover {
  background-color: #3a3bb0;
}

/* THE HERO EVENT SECTION START HERE */
.event-container{
    background-image: url(img/angel-arcalle-QQ_kArzQ4BM-unsplash.jpg); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 80vh;  
    /* filter: brightness(50%); */
}

.event-hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.hero-event-container{
    color: white;
    text-align: center;
}

.hero-event-container h1{
    font-size: 60px;
    font-weight: bold;
}
.hero-event-container .time{
    font-size: 16px;
    font-weight: bold;
    word-spacing: 70px;
}

/* THE HERO EVENT SECTION END HERE */


/* THE EVENT PAGE END HERE */


/* THE BLOG PAGE START HERE */
.blog-container{
    background-image: url(img/blog.jpg); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 80vh;  
}
.blog-hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.blog-title-container h1{
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 15px;
}
.blog-title-container p{
    color: white;
    font-size: 20px;
    text-align: center;
}

.container-blog-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* THE BLOG PAGE END HERE */



/* THE LOGIN FORM START HERE */

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 350px;
    height: 400px;
    padding: 30px;
    border: 2px solid #0A075F;
    border-radius: 30px;
}

.login-container form h1{
    text-align: center;
    font-weight: 800;
    color: #0A075F;
    margin-bottom: 30px;
}
.login-container form input{
    display: block;
    margin: 20px 0px;
    width: 300px;
    padding: 11px;
    border: none;
    border-radius: 10px;
    background-color: #C4C4C4;
    color: rgb(49, 49, 49);

}

.login-container form button{
    display: block;
    width: 100%;
    padding: 9px;
    border-radius: 18px;
    border: none;
    background-color: #0A075F;
    color: white;
    font-weight: 900;
    margin-top: 40px;
}
.regestration-navbar {
    background-color: black;
}
/* THE LOGIN FORM END HERE  */


